body {
    margin: 0;
    padding: 0;
  
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #ffffff;

    background-color: #849d8f;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.site-navigation {
    list-style: none;
    line-height: 18px;
}

.item-site-navigation > a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hover-button {
    width: auto;
    padding: 7px 10px;
    text-align: center;
}

.hover-button.catalog{
    width: 67px;
}

.hover-button.shipping-payment{
    width: 150px;
}

.hover-button.about-company{
    width: 100px;
}

.hover-button:hover {
    border-radius: 40px;
    background-color: rgb(248, 247, 244);
    
}


.hover-button:hover a{
    
    color: rgb(50, 50, 50);
}

.user-navigation {
    list-style: none;
    font-size: 14px;
    line-height: 16px;
}


.site-navigation a,
.user-navigation a {
    color: rgb(255, 255, 255);
}

.item-site-navigation > a:hover,
.item-site-navigation > a:focus,
.item-user-navigation > a:hover,
.item-user-navigation > a:focus {
    color: rgb(50, 50, 50);
    background-color: rgb(248, 247, 244);
}
.user-navigation a {
    position: relative;
    display: inline-block;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    vertical-align: middle;
    text-align: center;
}


.search-line {
    height: 33px;
    width: 33px;
}

.login-link {
    padding-top: 8px;
    padding-left: 25px;
    width: 68px;
    height: 24px;
}

.basket {
    padding-top: 8px;
    padding-left: 25px;
    width: 75px;
    height: 24px;
}

.user-navigation svg {
    position: absolute;
    fill: #ffffff;
}

.search-line svg {
    top: 8px;
    left: 8px;
}

.login-link svg {
    top: 6px;
    left: 17px;
}

.basket svg {
    top: 8px;
    left: 17px;
}

a.search-line:hover svg,
a.search-line:focus svg,
a.login-link:hover svg,
a.login-link:focus svg,
a.basket:hover svg,
a.basket:focus svg {
    fill: #323232;
}

.working-hours p {
    font-size: 14px;
    line-height: 16px;
}

.working-hours span {
    font-size: 22px;
    line-height: 24px;
}

.best-deal-list {
    text-align: center;
    list-style: none;
    
}

.best-deal-list h3 {
    font-size: 60px;
    line-height: 100.5%;
}

.button {
    display: inline-block;
    font-size: 18px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    width: auto;
    height: 49px;
    padding: 0 23px;
    background-color: rgb(231,74,53);
    background-image: 
                linear-gradient( 90deg, rgb(231,74,53) 0%, 
                rgb(242,104,67) 100%);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    color: rgb(255, 255, 255);
}

.best-deal-list .button {
    width: 236px;
    height: 67px;
    font-size: 32px;
    line-height: 67px;
}

.button:hover {
    background-image: none;
    background-color: rgb(241, 124, 100);
}

.button:focus {
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%,
     rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
    color: rgb(252, 238, 236);
}


.slider {
    list-style: none;
}

.slider li {
    display: inline-block;
}

.slider button{
    width: 21px;
    height: 21px;
    background-color: inherit;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;

}

.slider button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.slider button:focus {
    background-color: rgb(255, 255, 255);
}

.stocks {
    list-style: none;
}

.raspberry,
.chocolate {
    max-width: 520px;
    height: 183px;
    padding: 23px 20px;

    border-radius: 15px;

    background-color: #8e0220;
    background-repeat: no-repeat;
}

.raspberry {
    background-image: url("../img/Raspberry-bckg.jpg");
}

.chocolate {
    background-image: url("../img/Chocolate-bckg.jpg");
}
.stocks h3 {
    font-size: 35px;
    margin-top: 0;
}

.stocks p {
    font-size: 18px;
    font-weight: 500;
}

.product-list {
    list-style: none;
    display: inline-block;
    
}

.product-item {
    display: inline-block;
    width: 323px;
    height: 440px;
    
    text-align: center;
}


.product-item:hover {
    border-radius: 5px;
    background-color: rgba(248, 247, 244, 0.2);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.product-item figure {
    position: relative; 
    text-align: center;
    margin: 0;
    color: #ffffff;
}

.product-item img:first-child {
    padding-top: 6px;
}

.product-list img:nth-child(2) {
    position: absolute; 
    top: 6px;
    left: 27px;
    z-index: 1;
}

.product-list p {
    position: absolute;
    font-size: 45px; 
    top: 180px;
    left: 27px;
}

.product-list span {
    font-size: 30px; 
}

.product-item h3 {
    font-weight: 300;
    text-decoration: underline;
    text-decoration-color:  rgba(255, 255, 255, 0.2);
}

.advantages {
    max-width: 1146px;
    height: min-306px;
    border-radius: 15px;
    color: #323232;
    background-color: #e8ddc3;
    background-image: url("../img/wafer-bckg.png");
    font-weight: normal;
    padding: 30px 20px;
}

.advantages > p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.advantages ul {
    list-style: none;
}

.advertising {
    max-width: 520px;
    min-height: 160px;
    border-radius: 15px;
    padding: 30px 20px;
    color: #323232;
    background-color: #ffffff;
    background-image: url(../img/Strawberry-bckg.jpg);
    background-position: 20% 40%;
}

.advertising h2 {
    font-weight: normal;
}

.advertising a {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    text-decoration: underline;
}

.subscription {
    max-width: 560px;
    min-height: 220px;
    border-radius: 15px;
    color: #5a5a5a;
    background: repeating-linear-gradient(-45deg, #92cdff, #92cdff 10px,
                                                  #f8f7f4 10px, #f8f7f4 20px,
                                                  #fe9e90 20px, #fe9e90 30px,
                                                  #f8f7f4 30px, #f8f7f4 40px);
    background-position: 20% 40%;
}

.subscription div {
    display: inline-block;
    max-width: 504px;
    min-height: 140px;
    
    background-color: #f8f7f4;
    margin: 6px;
    padding: 34px 22px;
    border-radius: 15px;
    font-weight: normal;
}

.contacts {
    position: relative;
    max-width: 1250px;
    min-height: 430px;
    background-image: url(../img/Layer-3.jpg);
    background-position: center;
}

.contacts div {
    position: absolute;
    top: 64px;
    right: 27px;
    width: 252px;
    height: 239px;
    padding: 33px 25px;
    border-radius: 15px; 
    z-index: 1;
    background-color: #fdfefe;
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.contacts span {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.contacts span:first-child {
    line-height: 24px;
}

.bread-crumbs {
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

.bread-crumbs li {
    display: inline-block;
}

.bread-crumbs a{
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.page-title {
    font-size: 35px;
    line-height: 41px;
}

.pagination {
    list-style: none;
}

.pagination-item {
    display: inline-block;
    width: 27px;
    height: 26px;
    line-height: 25px;
    font-weight: normal;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.pagination-item a {
    color: #ffffff;
}

.pagination-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:focus {
    display: inline-block;
    width: 27px;
    height: 26px;
    border-radius: 50%;
    color: #353535;
    background-color: #ffffff;
}

.this-page a{
    display: inline-block;
    width: 27px;
    height: 26px;
    border-radius: 50%;
    color: #353535;
    background-color: #ffffff;
}





.main-footer a {
    color: #ffffff;
    line-height: 18px;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.social-network,
.information {
    list-style: none;
}

.social-network-item svg {
    fill: rgba(255, 255, 255, 0.9);
    border: 3px solid rgba(255, 255, 255, 0.502);
    border-radius: 50%;
}

.social-network-item:hover svg {
    fill: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.702);
}

.social-network-item:focus svg {
    fill: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.702);
}

.information a {
    font-size: 13px;
}

.main-footer p {
    font-size: 12px;
    font-weight: normal;
}