body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
}

body.bckg1 {
    background-color: #849d8f;
}

body.bckg2 {
    background-color: #8996a6;
}

body.bckg3 {
    background-color: #9d8b84;
}

:focus {
    outline: none;
}

.backlight {
    background-image: url("../img/backlight.png");
    background-position: center top;
    background-repeat: repeat-x; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.main-header {
    display: flex;
    min-height: 120px;
    flex-direction: column;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 9px;
}

.main-navigation ul {
    padding-left: 0;
    
    z-index: 2;
}

.main-navigation-logo {
    height: 64px;
    z-index: 2;
}
.site-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    line-height: 18px;
    margin-top: 14px;
    margin-left: 10px;
    margin-right: auto;
}

.site-navigation-button {
    display: flex;
    width: auto;
}

.site-navigation-button a {
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

.site-navigation-button span {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.this-page-nav {
    border-radius: 40px;
    background-color: rgb(208, 112, 88);
}

.this-page-nav span {
    border: none;
}

.site-navigation-button > a,
.this-page-nav > a {
    padding: 6.5px 14px; 
}

.site-navigation-button a:hover,
.site-navigation-button > a:focus {
    
    border-radius: 40px;
    background-color: rgb(247, 246, 243);
}

.site-navigation-button:active a {
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.site-navigation-button:hover a{
    color: rgb(50, 50, 50);
}

.user-navigation {
    display: flex;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.item-user-navigation > a {
    color: rgb(255, 255, 255);
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

.site-navigation-button > a:hover,
.site-navigation-button > a:focus,
.item-user-navigation > a:hover,
.item-user-navigation > a:focus {
    color: rgb(50, 50, 50);
    background-color: rgb(248, 247, 244);
}

.user-button {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    margin: 0;
    margin-left: 9px;
}

.item-user-navigation:first-child .user-button {
    padding: 8px;
    margin-left: 0;
}

.item-user-navigation:last-child .user-button {
    margin-right: 0;
}

.user-button span {
    padding-left: 8px;
}

.user-button svg {
    fill: #ffffff;
}

a.user-button:hover svg,
a.user-button:focus svg {
    fill: #323232;
}

.basket-user-navigation svg:first-child {
    display: none;
}

a.basket-user-navigation {
    color: rgb(50, 50, 50);
    background-color: rgb(248, 247, 244);
}
.working-hours {
    display: flex;
    flex-direction: column;
    height: 40px;
    margin-left: auto; 
    padding-bottom: 1px;
    align-items: flex-end;
}

.working-hours p {
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 4px;
}

.working-hours span {
    font-size: 22px;
    line-height: 24px;
}

.best-deal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.best-deal-list {
    position: relative;
    min-height: 637.5px;
    
    top: -152px;
    left: -20px;
    text-align: center;
    list-style: none;
}
 
.bckg1 .best-deal-item:not(:first-child) {
    display: none;
}

.bckg2 .best-deal-item:not(:nth-child(2)) {
    display: none;
}

.bckg3 .best-deal-item:not(:nth-child(3)) {
    display: none;
}


.best-deal-list h3 {
    width: 675px;
    font-size: 60px;
    line-height: 100.5%;
    margin-bottom: 29.5px;
    padding: 0;
}

.best-deal-item  img {
    z-index: -1;
}

.best-deal-item:nth-child(2)  img {
    margin-bottom: 22px;
}

.best-deal-item:nth-child(3)  img {
    margin-bottom: 27px;
}

.best-deal-item figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 605.5px;
}

.best-deal-item figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -549px;
}

.button {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 22px;;
    background-color: rgb(231,74,53);
    background-image: 
                linear-gradient( 90deg, rgb(231,74,53) 0%, 
                rgb(242,104,67) 100%);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    color: rgb(255, 255, 255);
    z-index: 1;
    cursor: pointer;
}

.best-deal-list .button {
    padding: 20px 40px 22px;
    font-size: 32px;
}

.button:hover {
    background-image: none;
    background-color: rgb(241, 124, 100);
}

.button:focus {
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%,
     rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
    color: rgb(252, 238, 236);
}


.slider {
    position: absolute;
    display: flex;
    list-style: none;
    z-index: 1;
    top: 423px;
    left: -19px;
}

.slider button{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin: 5px;
}

button.slider-default {
    background-color: rgb(255, 255, 255);
} 

.slider button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.slider button:focus {
    background-color: rgb(255, 255, 255);
}

.stocks-container {
    margin-top: 2px;
}

.stocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-top: -145px;
}

.stocks li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    width: 519px;
    min-height: 185px;
    padding: 16.5px 23px 23px 18px;
    border-radius: 15px;
    background-repeat: repeat;
}

.raspberry {
    background-image: url("../img/Raspberry-bckg.jpg");
    background-position: -50px -94px;
    background-color: #8e0220;
}

.raspberry  .button {
    padding: 10px 22px 14px 22px;
}

.chocolate {
    background-image: url("../img/Chocolate-bckg.jpg");
    background-position: -220px -105px;
    background-color: #35190b;
}

.chocolate  .button {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 22px;
    
}

.stocks h3 {
    font-size: 35px;
    line-height: 41px;
    margin: 0;
}

.stocks p {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 44px;
    padding-left: 1px;
}

.stocks .button {
    align-self: flex-end;
}

.bestsellers {
    margin: 30px auto 21px;
    width: 1146px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    width: 1146px;
    margin: 0 auto;
    padding: 0;
}

.main-catalog .product-list {
    width: 1146px;
    min-height: 1086px;
    margin: -6px auto 0;
}


.product-item {
    position: relative;
    width: 267px;
    min-height: 351.5px;
    box-sizing: border-box;
}

.product-item a {
    position: absolute;
    left: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 287px;
    min-height: 340px;
    margin: auto;
}

.product-item a:hover {
    border-radius: 5px;
    background-color: rgba(248, 247, 244, 0.2);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.08);
    z-index: 1;
}

.product-item figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    margin: 0;
    color: #ffffff;
    min-height: 344px;
    width: 287px;
}

.product-item figcaption {
    position: relative;
    width: 100%;
    padding: 0;
    min-height: 67px;
}

.product-item .button{
    display: none;
    margin-bottom: 22px;
    padding: 11px 17px 12px;
}

.product-item:hover .button {
    display: block;
}
.product-item img:first-child {
    padding-top: 10px;
}

.product-list img:nth-child(2) {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}

.product-list p {
    position: absolute;
    font-size: 45px; 
    bottom: 40px;
    left: 8px;
    word-spacing: -7px;
}

.main-catalog .product-item:last-child p {
    left: 8px;
}


.product-list span {
    font-size: 30px; 
}

.product-item h3 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:  rgba(255, 255, 255, 0.2);
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 13px;
    margin-bottom: 10px;
}

.product-item h3:hover {
    color: #ffbc9e;
}

.product-item a:focus h3 {
    color: #ffbc9e;
}


.advantages {
    width: 1101px;
    min-height: 270px;
    border-radius: 15px;
    color: #323232;
    background-color: #e8ddc3;
    background-image: url("../img/wafer-bckg.png");
    background-position: -2px 3px;
    font-weight: 400;
    padding: 25px 26px 11px 19px;
    margin: -1px auto 40px;
}

.advantages ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1px;
}

.advantages-item {
    display: flex;
    justify-content: flex-end;
    width: 535px;
}

.advantages-item img {
    margin-right: 7px;
    
    flex-shrink: 0;
}

.advantages-item p {
    margin-top: 13px;
    margin-bottom: 9px;
}


.advantages > p {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    word-spacing: 1.1px;
}

.one-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.advertising {
    width: 520px;
    min-height: 161px;
    border-radius: 15px;
    padding: 23px 20px 23px 19px;
    color: #323232;
    background-color: #ffffff;
    background-image: url("../img/Strawberry-bckg.jpg");
    background-position: 17% 39.5%;
}

.advertising h2 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 4px;  
}

.advertising a {
    font-size: 24px;
    line-height: 29px;
    color: #323232;
    background-image: linear-gradient(to bottom, #323232 0%, #323232 100%);
    background-position: 0 1.1em;
    background-repeat: repeat-x;
    background-size: 10px 2px;
}

.advertising a:hover {
    color: #e84d37;
    background-image: linear-gradient(to right, #e84d37 100%, transparent 0%);
}

.subscription {
    width: 560px;
    min-height: 220px;
    border-radius: 15px;
    color: #5a5a5a;
    background: repeating-linear-gradient(-45deg, 
                                                  #f8f7f4 0px, #f8f7f4 2px,
                                                  #fe9e90 2px, #fe9e90 9px,
                                                  #f8f7f4 9px, #f8f7f4 15.75px,
                                                  #92cdff 15.75px, #92cdff 22.75px,
                                                  #f8f7f4 22.75px, #f8f7f4 27.5px);
}

.subscription .border-bgr {
    width: 511px;
    min-height: 135px;
    margin: 5px;
    background-color: #f8f7f4;
    padding: 29px 18px 34px 21px;
    border-radius: 15px;
    font-weight: 400;
}

.subscription p {
    margin-top: 0;
    margin-bottom: 35px;
}

.subscription input {
    flex-grow: 1;
    margin-top: 2px;
    margin-right: 12px;
    padding-left: 13px;
    height: 39px;
    border-radius: 5px;
    border: 1px solid rgb(178, 178, 178);
}

.subscription .button {
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 20px;
    margin-right: 3px;
}

.contacts {
    position: relative;
    margin: 39px 0 7px;
    min-height: 429px;
    background-image: url("../img/Layer-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.contacts div {
    position: absolute;
    top: 62px;
    left: 50%;
    margin-left: 271px;
    width: 252px;
    height: 246px;
    padding: 28px 25px 31px;
    border-radius: 15px;
    background-color: #fdfefe;
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    z-index: 1;
}

.contacts p {
    margin-top: 0;
    margin-bottom: 18px;
}

.contacts b {
    display: block;
    padding-top: 5px;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 2px;
}

.contacts .button {
    margin-top: 24px;
}

.bread-crumbs {
    position: relative;
}

.bread-crumbs ul {
    position: absolute;
    bottom: -9px;
    display: flex;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding: 0;
}

.bread-crumbs a{
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: -5px;
}

.bread-crumbs a:hover,
.bread-crumbs a:focus {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.bread-crumbs a.disabled {
    border-color: transparent;
}

.bread-crumbs span {
    margin-right: 8px;
    margin-left: 8px;
}

.page-title {
    margin-top: -1px;
    margin-bottom: 26px;
    font-size: 35px;
    line-height: 41px;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 860px;
    min-height: 133px;
    margin-bottom: 35px;
}

.filter fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    line-height: 18px;
    padding: 0;
    margin-left: 0;
}

.filter legend {
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}

.filter label {
    cursor: pointer;
}

.filter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    border: none;
    padding: 0px 15px;
    border-radius: 40px;
    background-color: rgba(248, 247, 244, 0.2);
    color: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}

.filter-select legend {
    padding-left: 16px;
}

.filter-item-select {
    position: relative;
    display: flex;
    width: 194px;
    font-weight: 700;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
    background-position: 168px center;
    cursor: pointer;
}

.filter-item-select::-ms-expand {
    display: none;
  }

.filter-item-select:hover,
.filter-item-select:focus {
    color: #323232;
    background-image: url("../img/icon-down-dir-2.svg");
    background-repeat: no-repeat;
    background-position: 168px center;
}


.filter-item-select option {
    background-color: #ffffff;
    height: 22px;
}

.filter-range legend {
    padding-left: 20px;
}

.range-legend input {
    background-color: #97aca0;
    border: none;
    width: 30px;
    padding: 0;
    color: #ffffff;
    text-align: center;
}

.range-legend span:not(:first-child) {
    margin-right: 4px;
}

.filter-range .filter-item {
    margin-left: 5px;
    margin-right: 5px;
}

.range-controls {
    position: relative;
    padding: 0 22px;
}

.range-controls .scale {
    height: 4px;
    width: 153px;
    
    padding-left: 23px;
    background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {

    width: 100px;
    height: 4px;
    background-color: rgba(248, 247, 244, 1);
}

.range-toggle {
    
    position: absolute;
    width: 4px;
    height: 4px;
    top: 7px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle-min {
    left: 35px;
  }
  
  .range-toggle-max {
    left: 133px;
  }

.visually-hidden:not(:focus):not(:active) input,
.visually-hidden input[type="checkbox"],
.visually-hidden input[type="radio"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-item-radio {
    width: 387px;
    margin-right: 0;
    padding-left: 13px;
}

.filter-radio legend {
    padding-left: 15px;
}

.filter-item-radio label {
    position: relative;
    padding-left: 33px;
    padding-right: 16px;
}

.filter-item-radio label:last-child {
    padding-right: 0;
}

.filter-item-radio label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: -3px;
    left: 0px;
    border: 4px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}


.filter-input-radio:checked + label::after  {
    content: "";

    position: absolute;
    top: 4px;
    left: 7px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
}

.filter-checkbox legend {
    padding-left: 16px;
}

.filter-item-checkbox {
    width: 670px;
    padding-right: 17px;
}

.filter-item-checkbox label {
    position: relative;
    padding-left: 33px;
}

.filter-item-checkbox label:last-child {
    padding-right: 0px;
}

.filter-item-checkbox label::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    padding-right: 4px;
    top: -2px;
    left: 0px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::before  {
    width: 25px;
    height: 21px;
    padding-right: 0px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.filter-button  {
    width: 145px;
    height: 36px;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: 1px;
    padding: 7px 15px;
    border: 2px solid #ffffff;
    border-radius: 40px;
    color: #ffffff;
    background-color: rgba(248, 247, 244, 0.2);
}

.pagination {
    width: 1166px;
    margin: 45px auto 5px;
    padding: 7px 17px 30px;
    margin-top: 45px;

    display: flex;
    justify-content: flex-end;
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination-item {
    width: 27px;
    height: 26px;
    margin-left: 2px;
    font-weight: 400;
    border-radius: 50%;
}

.pagination-item:first-child {
    margin-left: 0;
    margin-right: 2px;
}

.pagination-item:first-child a::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    transform: translateX(2px)
               rotate(45deg);
}

.pagination-item:last-child {
    margin-left: 7px;
}

.pagination-item:last-child a::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #fefefe;
    border-left: 2px solid #fefefe;
    transform: translateX(-4px)
               rotate(225deg);
}

.pagination-item a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 26px;
    font-weight: 700;
    color: #ffffff;
}

.pagination-item:not(:first-child):not(:last-child):hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item:not(:first-child):not(:last-child) a:focus {
    width: 27px;
    height: 26px;
    border-radius: 50%;
    color: #353535;
    background-color: #ffffff;
}

.this-pagination {
    background-color: #ffffff;
}

.this-pagination a {
    color: #353535;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.main-footer a {
    color: #ffffff;
    line-height: 18px;
    font-weight: 400;
}

.main-footer a:hover,
.main-footer a:focus {
    color: #ffbc9e;
}

.main-footer ul {
    list-style: none;
    padding: 0;
}

.main-footer p {
    font-size: 12px;
    font-weight: 400;
}

.social-network {
    display: flex;
    width: 186px;
    justify-content: space-between;
}

.social-network-item {
    display: flex;
    align-items: center;
}

.social-network-item svg {
    fill: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.502);
    border-radius: 50%;
}

.social-network-item:hover svg {
    fill: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.702);
}

.social-network-item:focus svg {
    fill: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.702);
}

.information { 
    display: flex;
    align-items: baseline;
    min-width: 340px;
    margin-left: 0px;
}

.information a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.information a:hover,
.information a:focus {
    border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.information img {
    margin-right: 6px;
}
.information ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
}

.information li {
    min-width: 141px;
}

.information a {
    font-size: 13px;
}

.copyright {
    margin-bottom: 15px;
}

.copyright p {
    margin: 0;
    margin-top: -5px;
}

.copyright a {
    width: 108px;
    height: 39px;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.copyright a:hover,
.copyright a:focus {
    border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.hidden-popup {
    
    position: absolute;
    display: none;
    padding-top: 12px;
    z-index: 1;
}

.item-site-navigation {
    position: relative;
}

.item-site-navigation .hidden-popup {
    margin-top: -6px;
    margin-left: -7px;
}

.item-site-navigation .pop-up {
    width: 143px;
    min-height: 171px;
}



.item-user-navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-user-navigation .hidden-popup {
    right: 0;
    top: 24px;
} 

.hidden-popup button {
    height: 44px;
    min-width: 100px;
    border-radius: 20px;
}

.item-user-navigation:first-child .pop-up {
    width: 310px;
    padding: 20px 16px;
}

.item-user-navigation:nth-child(2) .pop-up {
    width: 239px;
    min-height: 175px;
    padding: 20px 17px 20px 20px;
}

.item-user-navigation:nth-child(2) .pop-up-form {
    min-height: 175px;
}

.item-user-navigation:nth-child(3) .pop-up {
    width: 510px;
    min-height: 202px;
    padding: 20px 15px;
}


.pop-up .one-column-popap {
    padding: 0;
    padding-bottom: 7px;
    width: 119px;
    color: inherit;
}

.one-column-popap a  {
    color: inherit;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    border-bottom: 1px solid #323232;
}

.one-column-popap a:hover,
.one-column-popap a:focus {
    color: #e84d37;
    border-bottom: 1px solid #e84d37;
}

.item-site-navigation:hover .hidden-popup,
.site-navigation-button a:focus .hidden-popup,
.item-user-navigation:hover .hidden-popup,
.user-navigation-button a:focus .hidden-popup {
    display: block;
}

.hidden-popup ul {
    list-style: none;
}

.pop-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 6px;
    color: #323232;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.pop-up-item {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    flex-grow: 1;
    padding-top: 2px;
    
    height: 29.5px;
}



.pop-up-item:not(:first-child):hover {
    background-color: rgb(251, 222, 215);
}

.pop-up-item:not(:first-child) > a:focus {
    background-color: rgb(246, 181, 165);
}

.this-page li:hover,
.this-page a:focus,
.pop-up .this-page {
    color: #ffffff;
    background-color: rgb(208, 112, 88);
}

.pop-up-item:first-child {
    position: relative;
    font-weight: 700;
    padding-top: 4px;
    padding-bottom: 4px;
}

.pop-up-item:first-child::after {
    position: absolute;
    bottom: 0;
    left: 10px;
    content: "";
    width: 128px;
    height: 1px;
    background-color: rgba(50, 50, 50, 0.2);
}

.pop-up-item:last-child {
    padding-bottom: 6px;
}

.pop-up-item a {
    display: inline-flex;
    align-items: center;
    padding-left: 22px;
    color: inherit;
    flex-grow: 1;
}

.pop-up-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.pop-up-form input,
.pop-up-form textarea {
    padding: 0;
    padding-left: 12px;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px; 
    line-height: 24px;
    font-weight: 400;
    color: #999999;
    border: 1px solid rgb(211, 211, 210);
    border-radius: 5px;
    background-color: #ffffff;
    opacity: 0.52;
    color: #323232;
}

.pop-up-form input {
    min-height: 42px;
}

.pop-up-list {
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.pop-up-list li {
    position: relative;

    display: flex;
    justify-content: space-between;
}

.pop-up-list li::before,
.pop-up-list li::after {
    content: "";
    position: absolute;
    top: 15px;
    left: -2px;
    width: 15px;
    height: 1px;
    background-color: #323232;
    cursor: pointer;
}

.pop-up-list li::before {
    transform: rotate(45deg);
}

.pop-up-list li::after {
    transform: rotate(-45deg);
}

.pop-up-list a {
    display: inline-flex;
    width: 300px;
    color: #323232;
    min-height: 53.5px;
    margin-right: 5px;
}

.pop-up-list img {
    margin-left: 24px;
    margin-right: 12px;
    margin-top: 0;
}

.pop-up-list span {
    margin-top: 9px;
}

.pop-up-list p {
    margin-top: 8px;
    text-align: center;
}

.pop-up-list p:nth-child(2){
    width: 105px;
    margin-left: 5px;
}

.pop-up-list p:nth-child(3){
    width: 90px;
}

.pop-up .basket-button {
    margin-left: auto;
    padding: 13px 14px;
    height: 46px;
}

.pop-up .price {
    margin-left: auto;
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}
/*Анимация для открытия модального окна*/
@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
}
/*Анимация для тряски формы в случае ошибки*/
@keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }

.overlay {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    margin-top: -221px;
    left: 50%;
    margin-left: -236px;
    width: 427px;
    min-height: 394px;
    padding: 16px 25px 23px 24px;
    border-radius: 10px;
    z-index: 2;
    box-shadow: none;
}

.modal-form { 
    height: 355px; 
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.modal p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    flex-grow: 1;
}

.modal .pop-up-form {
    min-height: 355px;
}

.modal-form input,
.modal-form textarea {
    font-size: 16px;
    border: 1px solid rgb(178, 178, 178);
}

.pop-up-form input:hover,
.pop-up-form input:focus,
.pop-up-form textarea:hover,
.pop-up-form textarea:focus {
    border-width: 2px;
    margin: -1px;
}

.pop-up-form input:focus,
.pop-up-form textarea:focus {
    border-color: rgb(46, 136, 228);
}

.modal-form input {
    width: 253px;
}

.modal-form textarea {
    width: 414px;
    height: 146px;
    padding-top: 10px;
    resize: none;
}

.modal-button {
    margin-top: 6px;
    align-self: flex-end;
}

.modal-form button {
    width: 138px;
    height: 49px;
}

.modal-close {
    position: absolute;
    top: 1px;
    right: 4px;
    width: 40px;
    height: 40px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: center;
    right: 10px;
    width: 22px;
    height: 3px;
    background-color: #323232;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}