body {
    margin: 0;
    padding: 0;
  
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #ffffff;

    background-color: #849d8f;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.pop-up {
    display: none;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    display: flex;
    height: 120px;
    flex-direction: column;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.site-navigation {
    display: flex;
    list-style: none;
    line-height: 18px;
    margin-right: auto;
}

.hover-button {
    width: auto;
    padding: 6.5px 14px;
    display: flex;
}

.hover-button a {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    white-space: nowrap;
}

.hover-button:hover {
    border-radius: 40px;
    background-color: rgb(248, 247, 244);
}


.hover-button:hover a{
    color: rgb(50, 50, 50);
}

.user-navigation {
    display: flex;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
}

.user-navigation a {
    color: rgb(255, 255, 255);
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

.item-site-navigation > a:hover,
.item-site-navigation > a:focus,
.item-user-navigation > a:hover,
.item-user-navigation > a:focus {
    color: rgb(50, 50, 50);
    background-color: rgb(248, 247, 244);
}

.user-button {
    display: flex;
    align-items: center;
    padding: 6.5px 16px;
    margin: 5px;
}

.item-user-navigation:first-child .user-button {
    padding: 8px;
}

.user-button span {
    padding-left: 8px;
}

.user-button svg {
    fill: #ffffff;
}

a.user-button:hover svg,
a.user-button:focus svg {
    fill: #323232;
}

.working-hours {
    height: 40px;
    margin-left: auto; padding-bottom: 1px;
}

.working-hours p {
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

.working-hours span {
    font-size: 22px;
}

.best-deal {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: space-between;
}

.best-deal-list {
    position: relative;
    top: -152px;
    text-align: center;
    list-style: none;
}

.best-deal-list h3 {
    max-width: 670px;
    font-size: 60px;
    line-height: 100.5%;
    margin-bottom: 40px;
}

.best-deal-item  img {
    position: absolute;
    z-index: -1;
}

.best-deal-item:not(:first-child) {
    display: none;
}

.best-deal-item figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-deal-item figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 332px;
}

.button {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    padding: 13px 22px;;
    background-color: rgb(231,74,53);
    background-image: 
                linear-gradient( 90deg, rgb(231,74,53) 0%, 
                rgb(242,104,67) 100%);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    color: rgb(255, 255, 255);
}

.best-deal-list .button {
    padding: 22.5px 42.5px;
    font-size: 32px;
}

.button:hover {
    background-image: none;
    background-color: rgb(241, 124, 100);
}

.button:focus {
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%,
     rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
    color: rgb(252, 238, 236);
}


.slider {
    display: flex;
    list-style: none;
    justify-content: baseline;
    padding: 0;
}

.slider button{
    width: 21px;
    height: 21px;
    background-color: inherit;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin: 5px;
}

.slider-item:first-child button {
    background-color: rgb(255, 255, 255);
} 

.slider button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.slider button:focus {
    background-color: rgb(255, 255, 255);
}

.stocks {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.stocks li {
    display: flex;
    flex-direction: column;
    max-width: 520px;
    min-height: 184px;
    padding: 23px 20px;
    border-radius: 15px;
    background-color: #8e0220;
    background-repeat: no-repeat;
}

.raspberry {
    background-image: url("../img/Raspberry-bckg.jpg");
}

.chocolate {
    background-image: url("../img/Chocolate-bckg.jpg");
}
.stocks h3 {
    font-size: 35px;
    margin: 0;
}

.stocks p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 48px;
}

.stocks .button {
    align-self: flex-end;
}

.bestsellers {
    margin-top: 40px;
    margin-bottom: 18px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;   
    padding: 0;
    margin: 0;
}

.product-item a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 287px;
    min-height: 340px;
    margin: auto;
}

.product-item:hover {
    border-radius: 5px;
    background-color: rgba(248, 247, 244, 0.2);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.product-item figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    margin: 0;
    color: #ffffff;
}

.product-item .button{
    display: none;
    margin-bottom: 22px;
}

.product-item:hover .button {
    display: block;
}
.product-item img:first-child {
    padding-top: 6px;
}

.product-list img:nth-child(2) {
    position: absolute; 
    top: 0;
    left: 27px;
    z-index: 1;
}

.product-list p {
    position: absolute;
    font-size: 45px; 
    top: 180px;
    left: 27px;
}

.product-list span {
    font-size: 30px; 
}

.product-item h3 {
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:  rgba(255, 255, 255, 0.2);
    margin-top: 16px;
    margin-bottom: 20px;
}

.advantages {
    max-width: 1110px;
    min-height: 274px;
    border-radius: 15px;
    color: #323232;
    background-color: #e8ddc3;
    background-image: url("../img/wafer-bckg.png");
    font-weight: normal;
    padding: 26px 20px 10px;
    margin-bottom: 40px;
}

.advantages ul {
    padding: 0;
    column-width: 530px;
    column-gap: 40px;
}

.advantages-item {
    display: flex;
}

.advantages-item img {
    margin-right: 10px;
}

.advantages > p {
    margin-top: 0;
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.advantages ul {
    list-style: none;
}

.one-row {
    display: flex;
    justify-content: space-between;
}
.advertising {
    flex-grow: 1;
    max-width: 520px;
    min-height: 160px;
    border-radius: 15px;
    padding: 30px 20px;
    color: #323232;
    background-color: #ffffff;
    background-image: url("../img/Strawberry-bckg.jpg");
    background-position: 20% 40%;
}

.advertising h2 {
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: normal;
}

.advertising a {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    text-decoration: underline;
}

.subscription {
    max-width: 560px;
    min-height: 220px;
    border-radius: 15px;
    color: #5a5a5a;
    background: repeating-linear-gradient(-45deg, #fe9e90, #fe9e90 10px,
                                                  #f8f7f4 10px, #f8f7f4 20px,
                                                  #92cdff 20px, #92cdff 30px,
                                                  #f8f7f4 30px, #f8f7f4 40px);
}

.subscription .border-bgr {
    max-width: 506px;
    min-height: 140px;
    
    background-color: #f8f7f4;
    margin: 6px;
    padding: 35px 22px;
    border-radius: 15px;
    font-weight: normal;
}

.subscription p {
    margin-top: 0;
    margin-bottom: 40px;
}

.subscription input {
    flex-grow: 1;
    margin-right: 12px;
    padding-left: 15px;
    height: 45px;
}

.subscription .button {
    width: 131px;
    height: 47px;
}






.contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    margin: 40px auto 5px;
    padding: 0;
    /*position: relative;*/
    min-height: 430px;
    background-image: url("../img/Layer-3.jpg");
    background-position: center;
}

.contacts div {
    margin-right: 27px;
    width: 252px;
    height: 241px;
    padding: 33px 25px 31px;
    border-radius: 15px;
    background-color: #fdfefe;
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.contacts p {
    margin-top: 0;
    margin-bottom: 26px;
}

.contacts span {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.contacts span:first-child {
    line-height: 24px;
}

.bread-crumbs ul {
    display: flex;
    justify-content: baseline;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    padding: 0;
}

.bread-crumbs a{
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.bread-crumbs span {
    margin-right: 8px;
    margin-left: 8px;
}

.page-title {
    font-size: 35px;
    line-height: 41px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    max-width: 876px;
    align-items: center;
}

.filter fieldset {
    flex-grow: 1;
    margin-right: 16px;
    width: auto;
    height: 37px;
    padding: 7px 15px;
    border: none;
    border-radius: 40px;
    background-color: rgba(248, 247, 244, 0.2);
    line-height: 18px;
}
.filter-button  {
    color: #ffffff;
    width: auto;
    height: 37px;
    padding: 7px 15px ;
    margin-right: 16px;
    border: 1px solid #ffffff;
    border-radius: 40px;
    background-color: rgba(248, 247, 244, 0.2);
    line-height: 18px;
}

.pagination {
    list-style: none;
}

.pagination-item {
    width: 27px;
    height: 26px;
    line-height: 25px;
    font-weight: normal;
    border-radius: 50%;
    text-align: center;
}

.pagination-item a {
    color: #ffffff;
}

.pagination-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:focus {
    width: 27px;
    height: 26px;
    border-radius: 50%;
    color: #353535;
    background-color: #ffffff;
}

.this-page a{
    width: 27px;
    height: 26px;
    border-radius: 50%;
    color: #353535;
    background-color: #ffffff;
}

.main-footer {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-footer a {
    color: #ffffff;
    line-height: 18px;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.main-footer ul {
    list-style: none;
    padding: 0;
}

.main-footer p {
    font-size: 12px;
    font-weight: normal;
}

.information {
    display: flex;
    align-items: baseline;
}

.information img {
    margin-right: 6px;
}
.information ul {
    column-count: 2;
}

.social-network {
    display: flex;
}

.social-network-item {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
}

.social-network-item:first-child {
    margin-left: 0;
}

.social-network-item svg {
    fill: rgba(255, 255, 255, 0.9);
    border: 3px solid rgba(255, 255, 255, 0.502);
    border-radius: 50%;
}

.social-network-item:hover svg {
    fill: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.702);
}

.social-network-item:focus svg {
    fill: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.702);
}

.information a {
    font-size: 13px;
}

.copyright p {
    margin: 0;
}